# Ignore data directories
/data/
/data/raw/
/data/processed/
/data/delta/

# Ignore virtual environment
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE and editor settings
.idea/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
logs/
*.log

# System files
.DS_Store
Thumbs.db